In [182]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OneHotEncoder

In [183]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
submission = pd.read_csv("sample_submission.csv")

display(train.head())
display(test.head())
display(submission.head())

,Mass_Pilot,Width,Aspect,Inch,Plant,Proc_Param1,Proc_Param2,Proc_Param3,Proc_Param4,Proc_Param5,...,p247,p248,p249,p250,p251,p252,p253,p254,p255,Class
0,False,245,40,19,Plant_6,465.00,631.85,1460.8,1985,2059,...,1.475031,1.473817,1.472950,1.474981,1.477011,1.479157,1.483289,1.487421,1.491552,Good
1,False,275,40,21,Plant_2,516.01,701.87,1621.1,2205,2291,...,1.320114,1.326607,1.333636,1.340665,1.347694,1.352602,1.355859,1.359115,1.362371,Good
2,False,225,45,17,Plant_7,416.99,583.14,1310.0,1832,1918,...,1.344303,1.346259,1.348215,1.350183,1.352166,1.354149,1.356112,1.358066,1.360021,Good
3,True,275,30,20,Plant_7,490.01,623.89,1539.4,1960,2040,...,1.389538,1.389953,1.393673,1.397393,1.401113,1.405803,1.411120,1.416437,1.421754,Good
4,True,265,45,21,Plant_2,516.01,714.61,1621.1,2245,2336,...,1.435297,1.431648,1.428000,1.424352,1.420704,1.417607,1.415256,1.412904,1.410553,Good

,ID,Mass_Pilot,Width,Aspect,Inch,Plant,Proc_Param1,Proc_Param2,Proc_Param3,Proc_Param4,...,p246,p247,p248,p249,p250,p251,p252,p253,p254,p255
0,ID_0,True,235,60,18,Plant_2,442.01,687.55,1388.6,2160,...,1.169287,1.166026,1.166735,1.168156,1.170798,1.172955,1.173441,1.173989,1.175112,1.176234
1,ID_1,False,245,40,19,Plant_2,464.99,631.85,1460.8,1985,...,1.615543,1.628728,1.643133,1.657539,1.654435,1.647163,1.639891,1.637400,1.635183,1.632966
2,ID_2,False,235,40,19,Plant_2,464.99,619.43,1460.8,1946,...,1.453175,1.451461,1.448824,1.446188,1.435310,1.423030,1.410750,1.367765,1.321797,1.275830
3,ID_3,True,245,45,19,Plant_2,464.99,646.17,1460.8,2030,...,1.234581,1.238925,1.248509,1.260011,1.271885,1.286289,1.300693,1.306279,1.304755,1.303231
4,ID_4,True,255,55,19,Plant_2,464.99,708.24,1460.8,2225,...,1.346540,1.348108,1.349677,1.352246,1.355194,1.358359,1.361780,1.364867,1.366732,1.368597

       ID  probability  decision
0  ID_0_L            0     False
1  ID_1_L            0     False
2  ID_2_L            0     False
3  ID_3_L            0     False
4  ID_4_L            0     False

In [184]:
train_X = train.drop(columns=['Class']).iloc[:,:-256*3]
train_Y = train['Class'].apply(lambda x:1 if x=='NG' else 0)
test_X = test.drop(columns=['ID']).iloc[:,:-256*3]

display(train_X.head())
display(train_Y.head())
display(test_X.head())

,Mass_Pilot,Width,Aspect,Inch,Plant,Proc_Param1,Proc_Param2,Proc_Param3,Proc_Param4,Proc_Param5,...,X3,Y3,X4,Y4,X5,Y5,G1,G2,G3,G4
0,False,245,40,19,Plant_6,465.00,631.85,1460.8,1985,2059,...,64.907,1.421,86.519,1.388,112.240,1.492,-0.023433,0.003384,-0.001527,0.004043
1,False,275,40,21,Plant_2,516.01,701.87,1621.1,2205,2291,...,79.686,1.687,98.663,1.591,121.010,1.362,0.022458,0.012190,-0.005059,-0.010247
2,False,225,45,17,Plant_7,416.99,583.14,1310.0,1832,1918,...,65.753,1.458,90.073,1.373,113.811,1.360,0.042622,-0.017465,-0.003495,-0.000548
3,True,275,30,20,Plant_7,490.01,623.89,1539.4,1960,2040,...,65.243,1.280,83.531,1.458,95.943,1.422,0.047047,0.034439,0.009733,-0.002900
4,True,265,45,21,Plant_2,516.01,714.61,1621.1,2245,2336,...,69.387,1.661,96.540,1.514,123.066,1.411,-0.007080,0.000190,-0.005414,-0.003883

0    0
1    0
2    0
3    0
4    0
Name: Class, dtype: int64

,Mass_Pilot,Width,Aspect,Inch,Plant,Proc_Param1,Proc_Param2,Proc_Param3,Proc_Param4,Proc_Param5,...,X3,Y3,X4,Y4,X5,Y5,G1,G2,G3,G4
0,True,235,60,18,Plant_2,442.01,687.55,1388.6,2160,2240,...,88.897,1.378,124.664,1.460,161.093,1.176,-0.021921,0.003006,0.002293,-0.007796
1,False,245,40,19,Plant_2,464.99,631.85,1460.8,1985,2056,...,64.009,1.509,87.904,1.544,112.418,1.633,0.027538,-0.007750,0.001465,0.003631
2,False,235,40,19,Plant_2,464.99,619.43,1460.8,1946,2030,...,60.303,1.191,84.904,1.193,109.140,1.276,0.038964,-0.025307,0.000081,0.003425
3,True,245,45,19,Plant_2,464.99,646.17,1460.8,2030,2120,...,81.539,1.527,100.481,1.001,122.602,1.303,0.031715,0.017955,-0.027769,0.013652
4,True,255,55,19,Plant_2,464.99,708.24,1460.8,2225,2313,...,92.514,1.480,126.230,1.566,160.499,1.369,-0.001070,0.000393,0.002551,-0.005749

In [185]:
cat_list = train_X.select_dtypes(include=['object', 'category', 'bool']).columns.tolist()
num_list = sorted(list(set(train_X.columns) - set(cat_list)))

OE = OneHotEncoder(min_frequency=0.01,handle_unknown='infrequent_if_exist',sparse_output=False)
OE.fit(train_X[cat_list])

def preprocess(dataset):
    Xc = OE.transform(dataset[cat_list])
    Xn = np.array(dataset[num_list])
    return np.concatenate([Xc, Xn], axis=1)

model = RandomForestClassifier(n_estimators=1000, max_depth=5)
model.fit(preprocess(train_X), train_Y)

pred = model.predict_proba(preprocess(test_X))[:,1]

In [186]:
submission = pd.read_csv("sample_submission.csv")
submission['probability'] = np.concatenate([pred,pred])

decision_id_L_list = submission.iloc[:466].sort_values('probability').iloc[:200]['ID']
decision_id_P_list = submission.iloc[466:].sort_values('probability').iloc[:200]['ID']

submission.loc[submission['ID'].isin(decision_id_L_list), 'decision'] = True
submission.loc[submission['ID'].isin(decision_id_P_list), 'decision'] = True


submission.to_csv("my_submission.csv", index=False)
display(submission)

           ID  probability  decision
0      ID_0_L     0.544600     False
1      ID_1_L     0.067996      True
2      ID_2_L     0.069363      True
3      ID_3_L     0.061417      True
4      ID_4_L     0.332901     False
..        ...          ...       ...
927  ID_461_P     0.071507      True
928  ID_462_P     0.078258      True
929  ID_463_P     0.104944     False
930  ID_464_P     0.582062     False
931  ID_465_P     0.147584     False

[932 rows x 3 columns]